<a href="/genes"><h3>NucleoDepot</h3></a>
<h1>Search by Type Results:</h1>
<form class="form-inline-my-2 my-lg-0" action="/searchInType"> <!--will this work?-->
  <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search by Gene" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find Gene</button>
</form>

<form class="dropdown">
  <button onmouseover="myFunction()" class="dropbtn">Cancer Type</button>
  <div id="myDropdown" class="dropdown-content">
    <%x = ""%>
    <%@allGenes = Gene.all%>%
    <% @allGenes.each do |gene| %>
      <%if(x!=gene.form)%>
        <a href="/searchType?q=<%=gene.form%>"><%=gene.form%></a>
        <%x = gene.form%>
      <%end%>
    <%end%>
  </div>
</div>


<div>
<p></p>
</div>

<%form = ""%>
<%@genes.each do |gene|%>
   <%form = gene.form%>
   <%break%>
<%end%>

<%@images.each do |image|%>
  <%if image.form == form%>
    <%= image_tag image.link, height: 300%>
  <%end%>
<%end%>

<a href="/searchWeb?q=<%=form%>">String db Data</a>


<ul>
<%x=0%>
  <% @genes.each do |gene| %>
    <li>
      <%break if x>=1000%>
        <%x+=1%>
      <a href="/genes/<%= gene.id %>"> <!--maybe put this stuff in an array and print it later-->
      <%=gene.identity%>
    </a>
    </li>
  <%end%>
</ul>

