<%require "rake"%>
<a href="/genes"><h2>NucleoDepot</h2></a>
<%form = ""%>
<%@genes.each do |gene|%>
   <%form = gene.form%>
   <%break%>
<%end%>
<h1>Search by <%=form%> results:</h1>
<a href="\searchType.csv?q=<%=form%>"><h3>Download CSV</h3></a>
<form class="form-inline-my-2 my-lg-0" action="/searchID"> <!--will this work?-->
  <input class="form-control2 mr-sm-2" name="q" type="text" placeholder="Search by Gene (all caps)" aria-label="Search">
  <br>
  <button class="btn2 btn-outline-success my-2 my-sm-0" type="submit">Find Gene</button>
</form>

<%y = 0%>
<%forms = ["adrenal","bile duct","bladder","bone marrow","brain","breast","cervix","colorectal","esophagus",
           "eye","head and neck","kidney","liver","lungs","lymph nodes","nervous system","ovary","pancreas","pleura",
           "prostate","skin","soft tissue","stomach","testis","thymus","thyroid","uterus"]%>
<form class="dropdown2">
  <button onmouseover="myFunction()" class="dropbtn2">Cancer Type</button>
  <div id="myDropdown" class="dropdown-content">
    <%@genes.each do |gene|%>
      <%while y<29%>
        <a href="/searchType?q=<%=forms[y]%>"><%=forms[y]%></a>
        <%y = y + 1%>
      <%end%>
    <%end%>
  </div>
</div>
</form>


<%Rake.application.rake_require 'tasks/ageHist'%>
<%Rake::Task['ageHist'].reenable%>
<%Rake::Task['ageHist'].execute(Rake::TaskArguments.new([:fileName], [form]))%>

<div class="graph">
<%@images.each do |image|%>
  <%if image.form == form%>
    <%= image_tag image.link, height: 300%>
  <%end%>
<%end%>
<%= image_tag 'rplot.jpg', height: 300%>
</div>

<br>

<div class="stringdb">
 <a class="stringdb" href="/searchWeb?q=<%=form%>">See String-db Data</a>
</div>

<div class="list">
<ul>
  <div class="element">
    <li class='list_line_even'>Genes: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Frequency:</li>
  </div>
<%x=0%>
  <% @genes.each do |gene| %>
    <% if gene.identity != 'None'%>
    <%break if x>=100%>
    <div class="element">
    <li>
      <%x+=1%>
      <div class= "<%= cycle('list_line_odd', 'list_line_even') -%>">
      <a href="/genes/<%= gene.id %>"> <!--maybe put this stuff in an array and print it later-->
      <p><%=gene.identity%> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%=gene.cFrequency%></p>
      </a>
      </li>
    </div>
   <% end%>
  <%end%>
</ul>
</div>

