<!DOCTYPE html>
<html>
  <head>
    <title>NucleoDepot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="database, cancer, genetics, genomics, genes">
    <meta name="keywords" content="database,cancer,genes,genetics,genomics">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag :application %>
    <script src="https://kit.fontawesome.com/5b881d25c4.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
