<!DOCTYPE html>
<html>
  <head>
    <title>NucleoDepot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
<<<<<<< HEAD
    <meta name="keywords" content="database, cancer, genetics, genomics, genes">
=======
    <meta name="keywords" content="database,cancer,genes,genetics,genomics">
>>>>>>> 15bb905f6c159e9391c881568a34363bcae4f69c
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag :application %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
